html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Landing Page Jumbotron Section */
.jumbotron {
  /* color: white; */
  background-color: white!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}